/* BORDER */

/* border: 10px, solid, black; 
border-top: 0px;
border-width: 0px, 10px, 10px, 0px; (clockwise direction) */


/* PADDING - inside the border of element
 MARGING - spacing between elements*/
/* padding: 20px;
margin: 20px; */